*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    height: 100%;
    background-image: linear-gradient(to right bottom, #323232, #b4b0b0, #dbdbdb);   
    display: flex;
    justify-content: center;
    
}
h1{
    color: #1f1e1e;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
}
img{
    width: 30px;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.todo-container{
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#todo-form{
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
#todo-form label{
    margin-right: 1.7rem;
    color: black;
}
.add-btn{
    border: none;
    outline: none;
    padding: 5px 20px;
    margin-left: 1rem;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px; 
    background-color: #d3324d;
    transition: 0.5s;
}
button:hover {
    box-shadow: 0 0 20px #d3324d;
}
#todo-form2{
    margin-bottom: 2rem;
    margin-left: 1rem;
}
#todo-form2 label{
    margin-right: 3.2rem;
    color: black;
}
input{
    border-radius: 20px;
    background: transparent;
    padding: 5px;
    font-weight: 14px;
    border-color: #d4d3d3;
    color: #1f1e1e;
    margin-left: 10px;
    margin-right: 15px;
}

.todo{
    background: #d4d3d3;
    margin: 1rem;
    padding: 0;
    border-radius: 10px;
    display: flex;
    justify-content: left;
}
.todo-checkbox{
    margin-left: 1rem;
    cursor: pointer;
    accent-color: rgb(45, 227, 127);
}
.description{
    font-size: 15px;
    margin-left: 0;
    padding-right: 5rem;
    color: black;
}
.completed{
    text-decoration: line-through;
}
.edit-btn{
    border: none;
    outline: none;
    margin: 0.5rem;
    margin-left: 5rem;
    padding-right: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px; 
    background-color: #d3324d;    
    transition: 0.5s;
    background-size: 200% auto;         
}
.delete-btn{
    border: none;
    outline: none;
    margin: 0.5rem;
    margin-right: 0.5rem;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px; 
    background-color: #d3324d;    
    transition: 0.5s;
    background-size: 200% auto;         
}

p{
    font-size: 15px;
    padding-top: 1rem;
    color: black;
    margin-left: 1rem;
}

.filter{
    margin-top: 2rem;
    border: none;
    outline: none;
    padding: 5px 20px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px; 
    background-color: #d3324d;
    transition: 0.5s;
    background-size: 200% auto;          
}
#all-btn{
    margin-left: 1rem;
    margin-right: 5rem;
}
#active-btn{
    margin-right: 4.5rem;
}
